*{
    margin: 0;
    padding: 0;
}


h1{
    background-color: rgb(191, 235, 122);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body{
    background-color:rgb(243, 243, 243);
    font-family: 游ゴシック,yu gothic,YuGothic,hiragino kaku gothic pron,hiragino kaku gothic pro,メイリオ,Meiryo,ＭＳ ゴシック,sans-serif;
}

.bun{
    margin: 0px 10%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.plants{
    background-color:burlywood;
    width: 600px;
    height: 420px;
    margin: 0% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:768px){
    .plants{
        width: 300px;
        height: 190px;
    }
}

h2{
    background-color:beige;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.plants1{
    width: 260px;
    height: 190px;
    margin: 0% auto;
}

@media screen and (max-width:768px){
    .plants1{
        width: 125px;
        height: 100px;
    }
}

.ufo{
    width: 260px;
    height: 190px;
    margin: 0% auto;
}

@media screen and (max-width:768px){
    .ufo{
        width: 125px;
        height: 100px;
    }
}

.flower{
    width: 260px;
    height: 190px;
    margin: 0% auto;
}

@media screen and (max-width:768px){
    .flower{
        width: 125px;
        height: 100px;
    }
}

.description{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.box1{
    width: 145px;
    height: 50px;
    background-color: rgb(245, 192, 107);
    border-radius: 10%;
    text-align: center;
}

.box2{
    width: 145px;
    height: 50px;
    background-color:rgb(182, 212, 182);
    border-radius: 10%;
    text-align: center;
}

.box3{
    width: 145px;
    height: 50px;
    background-color:rgb(218, 218, 123);
    border-radius: 10%;
    text-align: center;
}

.box-second{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cupman{
    width: 260px;
    height: 190px;
    margin: 0% auto;
}

@media screen and (max-width:768px){
    .cupman{
        width: 125px;
        height: 100px;
    }
}

.potman{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.box4{
    width: 145px;
    height: 50px;
    background-color:rgb(238, 128, 114);
    border-radius: 10%;
    text-align: center;
}

.line{
    margin-top: 20px;
    height: 50px;
    background-color: rgb(191, 235, 122);
}